.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #020617;
  border-bottom: 1px solid #1e293b;
}

.logo {
  font-size: 22px;
  color: #38bdf8;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  cursor: pointer;
  color: #e5e7eb;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #38bdf8;
}
